<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/js/bootstrap.min.js">
	<link rel="stylesheet" href="../static/css/main.css">
	
	<title>SiteCV</title>
</head>
<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >	
	  <div class="container">
	  	<a class="navbar-brand" href="#"> <img src="../static/img/" alt=""> Vlad</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarText">
	    	<ul class="navbar-nav mr-auto">
	      	<li class="nav-item active">
	        	<a class="nav-link" href="#">About me <span class="sr-only">(current)</span></a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="#">Skills</a>
	      	</li>
	      		      	<li class="nav-item">
	        	<a class="nav-link" href="#">Education</a>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link" href="#">Social</a>
	      	</li>
	    	</ul>
	  	</div>
	  </div>
	</nav>
<section id="about" class="line">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<h1>Меня зовут Владислав</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis libero placeat numquam, debitis praesentium amet doloremque odit aut nulla ut esse, laudantium alias unde, repellendus! Quasi, ipsam corporis. Corporis sequi, officiis expedita aliquam ut. Voluptates animi mollitia officia eveniet a itaque commodi repellat vel dolores. Est eos, ab minima iste.</p>
				<div class="row">
					<div class="col-sm">
						<p>Phone:</p>
					</div>
					<div class="col-sm">
						<a href="tel:89859711742">8 (985) 971 17 42</a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm">
						<p>Email:</p>
					</div>
					<div class="col-sm">
						<a href="mailto:sazvlad1@gmail.com">sazvlad1@gmail.com</a>
					</div>
				</div>
			</div>
			<div class="col-md">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nemo consectetur, voluptate ut provident sint! Accusantium libero esse totam voluptate optio nobis harum fugit error repudiandae enim iure, doloribus, sunt, natus voluptatem inventore iste animi. Quibusdam ab architecto ipsa, voluptate voluptatem quaerat deleniti soluta distinctio, beatae, dolor at assumenda dignissimos.
			</div>
		</div>
	</div>
</section>
<section id="skills" class="line">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
					<h1>Skills</h1>
					<p style="font-size: 1.1rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, placeat quisquam voluptas saepe voluptatum dolorem. Assumenda voluptatibus id inventore expedita.</p>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<h4>Web Development</h4>
						<p>Javascript, Coffeescript, Python</p>
					</div>
					<div class="col-md-6">
						<h4>Frontend Development</h4>
						<p>HTML,CSS,LESS</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="education" class="line">
	<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1>Education</h1>
					<p style="font-size: 1.1rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, placeat quisquam voluptas saepe voluptatum dolorem. Assumenda voluptatibus id inventore expedita.</p>
				</div>
				<div class="col-md-8">
					<div class="about-row">
						<h5 class="about-title">Системы обработки информации(ИУ5)</h5>
						<p class="about-info">4 курс МГТУ им Н.Э.Баумана</p>
						<p style="font-size: 0.9rem;">Сентябрь, 2015 - Июнь, 2019</p>
					</div>
				</div>
			</div>
	</div>
</section>

<section id="experience" class="line">
	<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1>Experience</h1>
					<p style="font-size: 1.1rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, placeat quisquam voluptas saepe voluptatum dolorem. Assumenda voluptatibus id inventore expedita.</p>
				</div>
				<div class="col-md-8">
					<div class="about-row">
						<h5 class="about-title">Системы обработки информации(ИУ5)</h5>
						<p class="about-info">4 курс МГТУ им Н.Э.Баумана</p>
						<p style="font-size: 0.9rem;">Сентябрь, 2015 - Июнь, 2019</p>
					</div>
				</div>
			</div>
	</div>
</section>

<section id="social" class="line">
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</section>


	
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>

